 
      <div id="sidebar-left">
				<table class="table" style="border: 2px solid #333;margin-left:10px;box-shadow: 2px 1px 21px 6px white; height:550px;">
					<thead style="background-color:#BF2E0E">
					  <tr style="color:#B2B770">
						<th></th>
						<th>CW</th>
						<th>LCW</th>
						<th>Staffed</th>
						<th>Avail</th>
						<th>NotReady</th>
						<th>SLA</th>
					  </tr>
					</thead>
					<tbody>
            <tr *ngFor="let d of details;let index =index;let isOdd=odd;" [class.active]="isOdd"   style=" border-bottom: 2px solid black;
            border-top: 2px solid black;" class="active">
              <td style="font-weight: 900;">{{d.grpName}}</td>
              <td style="font-weight: 700; ">{{d.ciq}}</td>
              <td style="font-weight: 700;">{{d.lcq}}</td>
              <td style="font-weight: 700;" >{{d.ali}}</td>
              <td style="font-weight: 700;">{{d.avl}}</td>
              <td style="font-weight: 700;">{{d.nr}}</td>
              <td style="font-weight: 700;font-size: 15px;">{{d.sl}} %</td>
            </tr> 
					</tbody>
				  </table>
		
		</div>
	 
		<div id="sidebar-right">
		  <span style="padding-left:30px;">
			 <iframe src="http://forecabox.foreca.com/get/44198" width="300" height="250" marginwidth="0" 
	marginheight="0" frameborder="0" scrolling="no" allowtransparency="true"></iframe>
		  </span>
		</div>
      