<div class="container">
        <div class="row">
            <div class="column">

                    <table class="table table-condensed">
                            <thead>
                              <tr>
                                <th>Avail</th>
                                <th>SLA</th>
                                <th>NotReady</th>
                                <th>LCW</th>
                                <th>CW</th>
                                <th>Staffed</th> 
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let d of details">
                                <td>{{d.ali}}</td>
                                <td>{{d.sl}}</td>
                                <td>{{d.nr}}</td>
                                <td>{{d.lcq}}</td>
                                <td>{{d.ali}}</td>
                                <td>{{d.ali}}</td>
                              </tr> 
                            </tbody>
                          </table>

            </div>
            <div class="column">
                    <iframe src="http://forecabox.foreca.com/get/44198" width="300" height="250" marginwidth="0" 
                    marginheight="0" frameborder="0" scrolling="no" allowtransparency="true"></iframe>
            </div>
        </div>
       
      </div>
      